<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="/assets/read-local/qwdqdwq" method="POST">
    <button>Do something</button>
</form>

{{hash}}
  <br>
{{#if exif}}
{{exif.imageSize.width}}  x  {{exif.imageSize.height}}
{{/if}}
